*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.logo{
    width: 150px;
    height: 150px;
    float: right;
}
h1{
    font-weight: bolder;
    font-size: 45px;
    margin-top: 50px;
    margin-left: 40px;
    color: red;
    font-family:'Gill Sans MT';
}
.details{
    margin-top: 0px;
}
.analysis{
    margin-left: 300px;
    align-content: center;
}
.acct_details{
    margin-top: 100px;
}
.index{
    height: 50px;
    width: 50px;
    margin-top: 50px;
}
.equality{
    height: 50px;
    width: 50px;
    float: right;
}
.header{
    align-items: center;
}
.text{
    color: red;
}
h2{
    font-weight: bolder;
    font-size: 45px;
    margin-top: 50px;
    margin-left: 40px;
    font-family:'Gill Sans MT';
}
h4{
    font-size: 45px;
    font-family:'Gill Sans MT';
    margin-left: 250px;
}