body{
    background-image: url(../images/sky.jpg);
    background-size: cover;
    background-repeat: repeat;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
h1{
    padding-top: 50px;
    padding-left: 550px;
}
.welcome{
    padding-top: 120px;
    padding-left: 400px;
}
.logo{
    width: 80px;
    height: 80px;
    float: right;

}
h2{
    padding-left:50px;
    font-size: 50px;
}
td{
    text-transform: uppercase;
}
th{
    text-transform: uppercase;
}
.move{
    padding-top: 100px;
}